@using Microsoft.AspNetCore.Authentication
@using dotnettest.Pages
@model AuthenticationScheme

<li class="nav-item" style="list-style-type: none;">
    <form action="/signin" method="post">
        <input type="hidden" name="Provider" value="@Model.Name" />
        <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />

        <button class="btn btn-primary" type="submit">Sign In</button>
    </form>
</li>
