@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Pokemon Trainers</h1>
    <a href='@Url.Page("Login")'>
        <button type=" button" class="btn btn-primary">Sign
            In</button>
    </a>

</div>
