@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 mb-4">Pokemon Team Manager</h1>
    <img src='@Url.Content("~/images/pokemon-team-manager-banner.png")' height="1024" style="height: 75vh">
</div>
